<div class="mobile-app-dashboard-header">
  <img src="/assets/imgs/button_park-your-car.png" class="pic" alt="park your car graphic" />
  </div>
  
  <div class="mobile-app-dashboard">
    <a href="/support">
      <div class="mobile-app-dashboard-inner">
        <i class="fa fa-plane" aria-hidden="true"></i>
        <img src="/assets/imgs/support.png" class="pic" alt="park your car graphic" sizes="2000%"/>
      </div>
    </a>
  
    <a href="/services">
      <div class="mobile-app-dashboard-inner">
        <i class="fa fa-clock-o mobile-app-dashboard-icon" aria-hidden="true"></i>
        <span>View all Services</span>
      </div>
    </a>
  
    <a href="/faq">
      <div class="mobile-app-dashboard-inner">
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
        <span>FAQ</span>
      </div>
    </a>
  
    <a href="/refer">
      <div class="mobile-app-dashboard-inner">
        <i class="fa fa-cutlery" aria-hidden="true"></i>
        <span>Refer A Friend</span>
      </div>
    </a>
  
  
  
  </div>
