<nav class="nav"></nav>
<div class="container main">
  <a href="/members">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm">
          <img src="/assets/imgs/car-icon2.png" class="pic" alt="park your car graphic" height="150" width="150" />
        </div>
      </div>
  </a>
</div>
<br>
<br>

<div class="container text-center">
  <div class="column button">
    <a class="col-sm"></a>
    <a href="/services"><button class="custombtn">All Services</button></a>
  </div>
</div>
<br>
<br>
<div class="container text-center">
  {{!--First Row--}}
  <div class="row">
    <div class="col-sm">

      <a href="/park"><button class="custombtn2">Park</button></a>
    </div>
    <div class="col-sm">
      <a href="/support"><button class="custombtn2">Support</button></a>

    </div>
  </div>
  <br>
  <br>
  {{!--Second Row--}}

  <div class="row">
    <div class="col-sm">
      <a href="/faq"><button class="custombtn2">FAQ</button></a>
    </div>
    <div class="col-sm">
      <a href="/refer"><button class="custombtn2">Refer-A-Friend</button></a>
    </div>
  </div>
  <!-- Footer -->
  <footer class="page-footer font-small blue">
    <a href="/login">Home</a> | <a href="/employee">Employees</a> |  <a href="/logout">
        Logout
      </a>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:

    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->