<div class="mobile-app-dashboard-header">
    <h1>Your Next Adventure Awaits</h1>
  </div>
  
  <div class="mobile-app-dashboard">
    <a href="/support">
      <div class="mobile-app-dashboard-inner">
        <i class="fa fa-plane" aria-hidden="true"></i>
        <span>Support</span>
      </div>
    </a>
  
    <a href="/services">
      <div class="mobile-app-dashboard-inner">
        <i class="fa fa-clock-o mobile-app-dashboard-icon" aria-hidden="true"></i>
        <span>View all Services</span>
      </div>
    </a>
  
    <a href="/faq">
      <div class="mobile-app-dashboard-inner">
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
        <span>FAQ</span>
      </div>
    </a>
  
    <a href="/refer">
      <div class="mobile-app-dashboard-inner">
        <i class="fa fa-cutlery" aria-hidden="true"></i>
        <span>Refer A Friend</span>
      </div>
    </a>
  
  
  
  </div>
