{{#each data}}
 <li>
            {{data.name}}

            <button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
              Devour!
            </button>

            <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
          </li>



<div class="container text-center">
   <!-- Footer -->
<footer class="page-footer font-small blue">
<a href="/login">Home</a> | <a href="/employee">Employees</a>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div>