<nav class="nav"></nav>
<div class="container main">
   <a href="/members">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm">
        <img src="/assets/imgs/car-icon2.png" class="pic" alt="park your car graphic" height="150" width="150" />
      </div>
    </div>
    </a>
  </div>
  <br>
  <br>
<div class="container text-center">
    <h1 class="faq">Frequently Asked Questions</h1>
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<script>
 $(document).ready(function() {
 
    $('.faq_question').click(function() {
 
        if ($(this).parent().is('.open')){
            $(this).closest('.faq').find('.faq_answer_container').animate({'height':'0'},500);
            $(this).closest('.faq').removeClass('open');
 
            }else{
                var newHeight =$(this).closest('.faq').find('.faq_answer').height() +'px';
                $(this).closest('.faq').find('.faq_answer_container').animate({'height':newHeight},500);
                $(this).closest('.faq').addClass('open');
            }
 
    });
 
});
</script>

<div class="faq_container text-center">
   <div class="faq">
      <div class="faq_question">How do I select a service?</div>
           <div class="faq_answer_container">
              <div class="faq_answer">Once you sign, it will take you the main page, click on the tab "All Services" and from there you will be able to select a service.</div>
           </div>        
    </div>
    <div class="faq">
      <div class="faq_question">How do I contact supplier?</div>
           <div class="faq_answer_container">
              <div class="faq_answer">There are our contacts on the support tab.</div>
           </div>        
    </div>
    <div class="faq">
      <div class="faq_question">How do I sign up?</div>
           <div class="faq_answer_container">
              <div class="faq_answer">Just provide your information at the front page of the app and click on sign up.</div>
           </div>        
    </div>
    <div class="faq">
      <div class="faq_question">How do I pay for this service?</div>
           <div class="faq_answer_container">
              <div class="faq_answer">Payment is made onsite with cash, credit or debit card</div>
           </div>        
    </div>
 </div>

 <div class="container text-center">
   <!-- Footer -->
<footer class="page-footer font-small blue">
<a href="/login">Home</a> | <a href="/employee">Employees</a>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div>