<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Sign Up Form</h2>
        <form class="signup">

          <div class="form-group">
            <label for="InputcarMarke1">Name</label>
            <input type="text" class="form-control" id="name-input" placeholder="Name">
          </div>

          <div class="form-group">
            <label for="InputEmail1">Email address</label>
            <input class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="InputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          
          <div class="form-group">
            <label for="InputcarMake1">Car Make</label>
            <input class="form-control" id="carMake-input" placeholder="Lamborghini">
          </div>

          <div class="form-group">
            <label for="InputcarModel1">Car Model</label>
            <input class="form-control" id="carModel-input" placeholder="Sian">
          </div>

          <div class="form-group">
            <label for="InputlicensePlate1">License Plate:</label>
            <input class="form-control" id="licensePlate-input" placeholder="License Plate">
          </div>

          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <button type="submit" class="btn btn-default">Sign Up</button>
        </form>
        <br />
        <p>Or log in <a href="/login">here</a></p>
      </div>
    </div>
  </div>

  