<body>
    <h2 class="text-center">Park Your Car</h2>
    <div class="container">

        <form class="park">
            <div class="form-group">
                <select id="package" name="package" class="custom-select">
                    <option>Select Package:</option>
                    <option>Jade</option>
                    <option>Ruby</option>
                    <option>Blue Diamond</option>
                </select>
            </div>





            <div class="form-group">
                <label for="Input">Parking spot</label>
                <input class="form-control" id="spot-input" placeholder="A5">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

</body>