<nav class="nav"></nav>
<div class="container main">
  <a href="/members">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm">
        <img src="/assets/imgs/car-icon2.png" class="pic" alt="park your car graphic" height="150" width="150" />
      </div>
    </div>
    </a>
  </div>
  <br>
  <br>
    <h2 class="text-center parkcar">Park Your Car</h2>
    <div class="container">

        <form class="park">
            <div class="form-group">
                <select id="package" name="package" class="custom-select">
                    <option>Select Package:</option>
                    <option>Jade</option>
                    <option>Ruby</option>
                    <option>Blue Diamond</option>
                </select>
            </div>





            <div class="form-group">
                <label for="Input">Parking spot</label>
                <input class="form-control" id="spot-input" placeholder="A5">
            </div>
            <button class="custombtn3">Submit</button>
        </form>
    </div>
    <div class="container text-center">
   <!-- Footer -->
<footer class="page-footer font-small blue">
<a href="/login">Home</a> | <a href="/employee">Employees</a>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: White Glove Detailing
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div>

</body>