<body>
    <h2 class="text-center">Park Your Car</h2>
    <div class="container">

        <form class="park">
            <div class="form-group">
                    <select name="package" class="custom-select">
                        <option value="0">Select Package:</option>
                        <option value="1">Jade</option>
                        <option value="2">Ruby</option>
                        <option value="3">Blue Diamond</option>
                    </select>
                </div>
            

    


    <div class="form-group">
        <label for="Input">Parking spot</label>
        <input class="form-control" id="spot-input" placeholder="A5">
    </div>
    <button type="submit" class="btn btn-default"></button>
    </form>
    </div>
    
</body>