<div class="card-body">
          <textarea
            readonly
            id="ref-code"
            placeholder="Your Unique referal code"
            aria-label="Generated Password"
          ></textarea>
        </div>





<button id="codeBtn" class="submit">Click to get code</button>