
<nav class="nav"></nav>
<div class="container main">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm">
        <img src="/assets/imgs/car-icon2.png" class="pic" alt="park your car graphic" height="150" width="150" />
      </div>
    </div>
  </div>
  <br>
  <br>
<div class="wrapper text-center">
    <div class="card">
        <div class="card-header">
            <h2>Refer-A-Friend</h2>
        </div>
        <div class="card-body">
            <textarea readonly id="referralCode" placeholder="Your Referral Code"
                aria-label="Generated Referall Code"></textarea>
        </div>
        <div class="card-footer">
            <button id="code" class="getCode">Get Referral Code</button>
        </div>
    </div>
</div>

