<nav class="nav"></nav>
<div class="container main">
  <a href="/members">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm">
        <img src="/assets/imgs/car-icon2.png" class="pic" alt="park your car graphic" height="150" width="150" />
      </div>
    </div>
    </a>
  </div>
  <br>
  <br>

<div class= "container bronze-package">
Jade Package:
Ruby:
Blue Diamond
<li>



</li>

</div>
<div class="container text-center">
   <!-- Footer -->
<footer class="page-footer font-small blue">
<a href="/login">Home</a> | <a href="/employee">Employees</a>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: White Glove Detailing
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div>
