<nav class="nav"></nav>
<div class="container main">
  <a href="/members">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm">
          <img src="/assets/imgs/car-icon2.png" class="pic" alt="park your car graphic" height="150" width="150" />
        </div>
      </div>
  </a>
</div>
<br>
<br>

<body>
  <form action="action_page.php">
    <div class="container">
      <h1>Support</h1>
      <p>Please reach out to us with any question and concern</p>
      <hr>

      <!--<div class="w3-xlarge w3-padding-16"> -->
      <div class="col-md-6 col-md-offset-3">
        <br>
        <div> <label class="label-input100" for="phone">
            <span class="lnr lnr-envelope">Phone Number: </span>
          </label>
          999-999-9999
          </span> </div>
      </div>
      <!--<div class="w3-xlarge w3-padding-16"> -->
      <div class="col-md-6 col-md-offset-3">
        <br>
        <div> <label class="label-input100" for="email">
            <span class="lnr lnr-envelope">Email Address: </span>
          </label>
          shopandfixexperts@compuserve.com
          </span> </div>
  </form>
  </div>
<br>
<br>
<br>
  <div class="container text-center">
    <!-- Footer -->
    <footer class="page-footer font-small blue">
      <a href="/login">Home</a> | <a href="/employee">Employees</a>
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright: White Glove Detailing

      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
  </div>
  