<nav class="nav"></nav>
<div class="container main">
    <div class="container text-center">
        <a href="/members">
        <div class="row">
            <div class="col-sm">
                <img src="/assets/imgs/car-icon2.png" class="pic" alt="park your car graphic" height="150"
                    width="150" />
            </div>
        </div>
        </a>
    </div>

    <br>
    <h1 class="thankyou">Thank You!</h1>
    <div class="container" style="margin-top: 40px;">
        <p style="margin-bottom: 50px;">Thank you for testing out our application and for any feedback. Allthough this
            application is still in the development phase we do hope to get brought on with a major grocrey store near
            you! Unfourtunatley untill that time please feel free to contact us about any questions you may have.Heres a
            fractile for your time! Click it to return to the dashboard!</p>


        
            <a href="/members">
                <div class="effect-wrapper"> {{!--style = "height: 50px; width: 50px;"--}}

                    <div class="layer1">
                        <div>
                            <div>
                                <div>
                                    <div>
                                        <div>
                                            <div>
                                                <div>
                                                    <div>
                                                        <div>
                                                            <div>
                                                                <div>
                                                                    <div></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layer2">
                        <div>
                            <div>
                                <div>
                                    <div>
                                        <div>
                                            <div>
                                                <div>
                                                    <div>
                                                        <div>
                                                            <div>
                                                                <div>
                                                                    <div></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
        </div>
        </a>
        <div class="container text-center page-footer">
   <!-- Footer -->
<footer class="page-footer font-small blue">
<a href="/login">Home</a> | <a href="/employee">Employees</a> |  <a href="/logout">
        Logout
      </a>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: White Glove Detailing
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div>
    </div>
</div>

